<!DOCTYPE html>
<html>
<head>
    <title>任务执行器</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .container {
            margin-top: 50px;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">任务执行器</h1>
    <form id="task-form">
        <div class="form-group">
            <label for="task-user">用户</label>
            <select class="form-control" id="task-user" name="task_user">
                {% for key, value in work_dir.items() %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="task-type">任务类型</label>
            <select class="form-control" id="task-type" name="task_type">
                <option value="sh">sh</option>
                <!--        <option value="type2">类型2</option>-->
                <!--        <option value="type3">类型3</option>-->
                <!-- 可以根据需求添加更多的选项 -->
            </select>
        </div>
        <div class="form-group">
            <label for="task-name">任务名称</label>
            <input type="text" class="form-control" id="task-name" name="task_name" placeholder="请输入任务名称">
        </div>
        <div class="form-group">
            <label for="start-date">开始日期</label>
            <input type="date" class="form-control" id="start-date" name="start_date">
        </div>
        <div class="form-group">
            <label for="end-date">结束日期</label>
            <input type="date" class="form-control" id="end-date" name="end_date">
        </div>
        <div class="form-group">
            <label for="task-cycle">运行周期</label>
            <div id="task-cycle" name="task_cycle">
                <label><input type="radio" name="task_cycle" value="日" checked> 日</label>
                <label><input type="radio" name="task_cycle" value="月"> 月</label>
                <!-- 可以根据需求添加更多的选项 -->
            </div>
        </div>
        <div class="form-group">
            <label for="concurrency">并发数量</label>
            <input type="number" class="form-control" id="concurrency" name="concurrency" min="1" max="10" value="1">
        </div>
        <button type="button" class="btn btn-primary" onclick="executeTask()">执行任务</button>
        <button type="button" class="btn btn-secondary" id="preview-btn">预览命令</button>
        <button type="button" class="btn btn-primary" onclick="getTaskResult()">运行结果</button>

    </form>
    <div class="mt-3">
        <h5>预览命令</h5>
        <pre id="preview-result"></pre>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    // JavaScript 代码
    // 可以使用 jQuery 或原生 JavaScript 来处理前端表单提交、异步请求等操作
    // 在这里编写您的前端逻辑代码
    var today = new Date();
    var yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);
    document.getElementById('start-date').valueAsDate = yesterday;
    document.getElementById('end-date').valueAsDate = yesterday;

    var lastTaskType = localStorage.getItem('taskType');
    var lastTaskName = localStorage.getItem('taskName');
    var lastTaskUser = localStorage.getItem('submitter');
    var lastTaskCycle = localStorage.getItem('taskCycle');

    if (lastTaskType) {
        document.getElementById('task-user').value = lastTaskType;
    }
    if (lastTaskName) {
        document.getElementById('task-name').value = lastTaskName;
    }
    if (lastTaskUser) {
        document.getElementById('task-user').value = lastTaskUser;
    }
    if (lastTaskCycle) {
        document.getElementById('task-cycle').value = lastTaskCycle;
    }


    var taskType = document.getElementById('task-type').value;
    var taskName = document.getElementById('task-name').value;
    var startDate = document.getElementById('start-date').value;
    var endDate = document.getElementById('end-date').value;
    var concurrency = parseInt(document.getElementById('concurrency').value);
    var taskUser = document.getElementById('task-user').value;
    var taskCycle = document.getElementById('task-cycle').querySelector('input:checked').value;


    function getInput() {
        taskType = document.getElementById('task-type').value;
        taskName = document.getElementById('task-name').value;
        startDate = document.getElementById('start-date').value;
        endDate = document.getElementById('end-date').value;
        concurrency = parseInt(document.getElementById('concurrency').value);
        taskUser = document.getElementById('task-user').value;
        taskCycle = document.getElementById('task-cycle').querySelector('input:checked').value;
    }


    // 预览命令按钮点击事件
    $("#preview-btn").on("click", function () {
        getInput();
        var startDate1 = ""
        if (taskCycle === "月") {
            var startDateObj = new Date(startDate)
            var year = startDateObj.getFullYear().toString();
            var month = (startDateObj.getMonth() + 1).toString().padStart(2, '0');
            var day = '01';
            startDate1 = year + month + day;
        } else {
            startDate1 = startDate.replaceAll('-', '');
        }
        var command = taskType + " " + taskName + " " + startDate1;
        var previewResultElem = document.getElementById('preview-result');
        previewResultElem.innerHTML = ''; // 清空预览结果的内容
        previewResultElem.innerHTML = command;
    });

    function check() {
        getInput();
        var startDateObj = new Date(startDate);
        var endDateObj = new Date(endDate);
        var daysDifference = 0;
        // 计算运行天数
        if (taskCycle === "月") {
            startDateObj.setDate(1); // 设置为每月的第一天
            endDateObj.setDate(1); // 设置为每月的第一天
            daysDifference = (endDateObj.getFullYear() - startDateObj.getFullYear()) * 12 + (endDateObj.getMonth() - startDateObj.getMonth()) + 1;
        } else {
            var timeDifference = endDateObj - startDateObj;
            daysDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24) + 1);

        }

        var errorMessages = new Map();

        // 添加条件检查的错误信息到映射中
        errorMessages.set(taskType.trim() === '' || taskName.trim() === '', "任务类型和任务名称不能为空");
        errorMessages.set(/\s/.test(taskType) || !/^[a-zA-Z0-9\/_.]*$/.test(taskName), "任务类型和任务名称不能包含特殊字符");
        errorMessages.set(!taskName.endsWith(".sh"), "任务名称必须以'.sh'结尾");
        errorMessages.set(taskName.length >= 100, "任务名称长度不能超过100个字符");
        errorMessages.set(isNaN(concurrency), "并发数必须为数字");
        errorMessages.set(daysDifference < 0, "结束日期小于开始日期");

        // 遍历映射，检查是否有错误
        for (var [condition, errorMessage] of errorMessages) {
            if (condition) {
                alert(errorMessage);
                return [true, daysDifference];
            }
        }

        return [false, daysDifference];
    }

    function executeTask() {
        getInput();
        const [hasError, daysDifference] = check()

        if (!hasError) {
            // 弹窗显示运行天数
            var confirmMessage = '运行天数：' + daysDifference + '天\n\n是否确认提交任务？';
            var confirmed = confirm(confirmMessage);
        }

        if (!hasError && confirmed) { // 构建请求体数据
            localStorage.setItem('taskType', taskType);
            localStorage.setItem('taskName', taskName);
            localStorage.setItem('submitter', taskUser);
            localStorage.setItem('taskCycle', taskCycle);
            var data = {
                'task_type': taskType,
                'task_name': taskName,
                'start_date': startDate,
                'end_date': endDate,
                'concurrency': concurrency,
                'task_cycle': taskCycle,
                'submitter': taskUser
            };
            // 发送POST请求到后端接口
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_task'); // 替换成submit_task接口的URL
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            alert("提交成功");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // alert("提交成功");
                    } else {
                        // 请求失败，处理错误逻辑
                        // if (concurrency !== 1)  {alert("提交失败，请重试。。。");}
                        console.error('请求失败', xhr.statusText);
                    }
                }
            };
            xhr.send(JSON.stringify(data));
        }
    }

    function getTaskResult() {
        window.location.href = "/get_task_result";  // 跳转到获取任务结果的路由
    }

</script>
</body>
</html>